.thumbnail {
    padding-right : 5px;
    padding-left : 5px;
    padding-top : 5px;
    padding-bottom : 5px;
    border-radius: 25px;


}

.transaction:hover {
    cursor: pointer;
}

.ng-invalid.ng-valid-required {
	background-color:pink;
}
