<div class="col-md-6 col-md-offset-3" style="margin: 0 auto; margin-top:100px;background-color:light-blue;" ng-controller="dashboard" ng-onload="getVoucherDetails()">
    <h1 style="margin-top:100px;"> Welcome {{firstName}}</h1>
    <div class=row>
    <div ng-repeat="voucher in vouchers" class="col-sm-1 col-md-4">
            <div class="thumbnail">
                <label>{{voucher.voucherName}}</label>
                <label>Points: {{voucher.points}}</label>
                <label>Value: ${{voucher.value}}</label>
                <label>{{voucher.voucherCode}}</label>
                <div class="clearfix">
                <a href="#" class="btn btn-success pull-right" role="button">Redeem Now</a>
                </div>           
            </div>
    </div>
    </div>


    <!--<div class="row" ng-repeat="voucher in vouchers">
        Hi
        <div class="col-sm-1 col-md-4">
            <div class="thumbnail">
                <img src="/images/vouchers/Pizzahut.png" class="img-responsive" width="40px" height="30px">
                <div class="caption">
                    <h5>Pizzahut1</h5>
                    <div class="clearfix">
                        <div class="price pull-left">{{voucher.points}}</div>
                        <a href="#" class="btn btn-success pull-right" role="button">Redeem Now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>-->







    <div class="form-actions">
        <button ng-click="getVoucherDetails()" class="btn btn-primary">Get Voucher Data</button>
    </div>
</div>